server:
  port: 8082

spring:
  application:
    name: notification-service

  cloud:
    function:
      definition: orderCreated

    stream:
      bindings:
        orderCreated-in-0:
          destination: order.exchange
          group: notification-group

      kafka:
        binder:
          brokers: kafka:9092
          auto-create-topics: true

  kafka:
    admin:
      enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
